body{
  margin:0px;
  padding:0px;
  overflow-x: none;
  background-color: black;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/background.jpg');
  background-size: 150% 150%;
  background-position-x: left;
  height: 100vh;
  background-repeat: no-repeat;
}

.body-container{
  

}

/* center container starts here  */
.center-container{
  margin-top: 15vh;
  margin-left: 100px;
  display:flex;
  flex-direction: row;
}

.text-col-one{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-text{
  font-size: 48px;
  color: #fff;
  text-transform: capitalize;
}

.delivery_div{
  display: flex;
  flex-direction: row;
}

.delivery_text{
  height: 62px;
  width: 219px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  background-color: #DA5004;
  padding:0px;
  font-weight: bolder;
  margin-top: -10px;
  transform: rotate(-8deg);
}

/* .delivery_text > h1{
  font-size: 48px;
  color: #fff;
  text-align: right;
} */

.service_text{
  font-size: 48px;
  color: #fff;
  text-align: right;
  margin-top: -30px;
  margin-left: 20px;
}

.bottom-text{
  justify-content: center;
  text-align: justify;
  color: #fff;
  font-size: 20px;
  width: 460px;
}

.location_div{
  width: 420px;
  height: 40px;
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.find_food_btn{
  height: 50px;
  width: 100px;
  background-color: #DA5004;
  border-radius: 10px;
  box-shadow: 0;
  border: 0px;
  color: #fff;
  margin-top: -5px;
}

.text_input{
  border: 0px;
  font-size: 24px;
}

.text-col-two{
  flex: 1;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 733px;
  top: 100px;

  /* background: rgba(218, 80, 4, 0.5); */
  border: 50px solid rgba(218, 80, 4, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
}

.image_item{
  width: 500px;
  height: auto;
 
  box-sizing: border-box;
}
.location-icon{
  color: #DA5004;
}
/* center container ends here  */